services:
  mu_fe:
    build:
      context: .
      args:
        APP_MODE: ${mu_fe_MODE:-prod}

    container_name: ${mu_fe_HOSTNAME:-mu_fe}

    hostname: ${mu_fe_HOSTNAME:-mu_fe}

    environment:
      GRAPHQL_API: http://${mu_ag_HOSTNAME:-localhost}:${mu_ag_INTERNAL_PORT:-4000}/query

    ports:
      - ${mu_fe_EXPOSED_PORT:-80}:3000
